*,html{
    margin: 0;
    padding: 0;
    color: #ffff;
}

body{
    background-image: url(../images/Logo\ SEPEN\ BROTHER.jpg);
    
}

main{
    background-color: #565657;
    margin: 200px;
    margin-left: 450px;
    border-radius: 25px;
    padding: 20px;
    width: 50%;
    
}

a{
    padding: 12px;
    margin: 12px;
}

.colmn1{
    display: flex;
}

textarea{
    border-radius: 2px;
    background-color: #3e3e3e;
}

.done-btn{
    border-radius: 8px;
    background: #3e3e3e;
    color: white;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 14px;
    width: 10%;
}

input{
    background-color: #3e3e3e;
}

